{{ partial "head_includes.html" . }}
<h2 class="heading">{{ partial "page-heading.html" . }}</h2>
<ul>
    {{ if .Content }}
    <li class="markdown">
        {{ .Content }}
    </li>
    {{ end }} {{- $folder := lower .Title -}} {{ if eq .Params.changelog_enabled "true" }}
    <li>
        <a href="/cydia/{{ $folder }}/changelog" role="button">Changelog</a>
    </li>
    {{ end }} {{ if eq .Params.screens_enabled "true" }}
    <li>
        <a href="/cydia/{{ $folder }}/screenshots" role="button">Screenshots</a>
    </li>
    {{ end }}
</ul>
{{ if eq .Params.screenshots "true" }}
<ul>
    {{ range readDir (print "./content/cydia/" $folder "/screenshots/") }} {{ if in .Name ".png" }}
    <li>
        <img src="/cydia/{{ $folder }}/screenshots/{{ .Name }}" width="100%"> {{ end }} {{ if in .Name ".gif" }}</li>
    <li>
        <img src="/cydia/{{ $folder }}/screenshots/{{ .Name }}" width="100%"> {{ end }} {{ if in .Name ".jpeg" }}</li>
    <li>
        <img src="/cydia/{{ $folder }}/screenshots/{{ .Name }}" width="100%"> {{ end }} {{ if in .Name ".m4v" }}</li>
    <li>
        <center>
            <video width="90%">
                <source src="/cydia/{{ $folder }}/screenshots/{{ .Name }}" type="video/mp4">
            </video>
        </center>
    </li>
    {{ end }} {{ if in .Name ".mov" }}
    <li>
        <center>
            <video width="90%">
                <source src="/cydia/{{ $folder }}/screenshots/{{ .Name }}" type="video/mp4">
            </video>
        </center>
    </li>
    {{ end }} {{ if in .Name ".mp4" }}
    <li>
        <center>
            <video width="90%">
                <source src="/cydia/{{ $folder }}/screenshots/{{ .Name }}" type="video/mp4">
            </video>
        </center>
    </li>
    {{ end }} {{ end }}
</ul>
{{ end }}

<ul>
    {{ if eq .Slug "depiction"}}
    <li class="back-to-posts">
        <a href="/cydia">{{ i18n "toPackages" }}</a>
    </li>
    {{ else }}
    <li class="back-to-posts">
        <a href="/cydia/{{ $folder }}/depiction">{{ i18n "backToDepiction" }}</a>
    </li>
    {{ end }}
</ul>
<ul>

    {{ if .Site.Params.disqus }}
    <li class="disqus">
        {{ template "_internal/disqus.html" . }}
    </li>
    {{ end }} {{ if .Site.Params.gitalk }}
    <li id="gitalk-container"></li>
    {{ end }}
</ul>

{{ partial "footer.html" . }}